{% extends 'base.html.twig' %}

{% block page_title %}Ma généalogie{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ basepath }}/css/genealogy.css">

{% endblock %}

{% block scripts %}

    <script src="{{ basepath }}/js/d3.v4.min.js"></script>
    <script src="{{ basepath }}/js/genealogy.js"></script>

{% endblock %}

{% block content %}

    <h2>Ma généalogie</h2>

    <p>

    </p>

    <div id="wheel"></div>

{% endblock%}