{% extends 'base.html.twig' %}

{% block page_title %}Erreur 403{% endblock %}

{% block content %}

    <h2>Erreur 404 : Accès interdit</h2>

    L'accès à cette ressource ne vous est pas autorisé.

{% endblock%}