{% extends 'base.html.twig' %}

{% block page_title %}Erreur 404{% endblock %}

{% block content %}

    <h2>Erreur 404 : Page non trouvée</h2>

    Il peut s'agir d'une erreur de saisie de votre part, ou d'un lien mort (auquel cas vous pouvez me <a href="{{ basepath }}/contact">contacter</a>).

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-4">
            <img src="{{ basepath }}/img/404.png" class="img-responsive" alt="404">
        </div>
    </div>

{% endblock%}