{% extends 'base.html.twig' %}

{% block page_title %}Erreur interne{% endblock %}

{% block content %}

    <h2>Erreur interne</h2>

    La page n'a pas pu être affichée, le problème sera rapporté au webmestre.

{% endblock%}