{% extends 'base.html.twig' %}

{% block page_title %}Articles{% endblock %}

{% block content %}

    <h2>Articles</h2>

    <hr>

    <div class="row">
        {% if articles|length != 0 %}
            {% set last = articles|last %}
            {% for article in articles %}
                <div class="col-xs-12">
                    <h3>{{ article.title }}</h3>
                    <p>
                        <em>Article publié le {{ article.date_published|date("d/m/Y à H:i", "Europe/Paris") }}.</em>
                    </p>

                    <p>
                        {{ article.content|raw }}
                    </p>
                    {% if article != last %}
                        <div class="col-xs-6 col-xs-offset-3">
                            <hr>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="col-xs-12 text-center">
                <em>Aucun article n'a été publié.</em>
            </div>
        {% endif %}

        <div class="col-xs-12 text-center">
            <hr>
            <em>{{ articles|length }} articles.</em>
        </div>
    </div>

{% endblock%}