{% extends 'base.html.twig' %}

{% block page_title %}Contact{% endblock %}

{% block scripts %}

<script>
    (function () {
        var e = document.getElementsByTagName("fieldset")[2];
        e.parentNode.removeChild(e);
    })();
</script>

{% endblock scripts %}

{% block content %}

    <h2>Contact</h2>
    Vous souhaitez me contacter ? N'hésitez pas à remplir ce formulaire, je tâcherai de vous répondre rapidement.
    <hr>

    <div class="row">
        {% if submit %}
            {% if success %}
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                    Votre message a été envoyé.
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                    <strong>Erreur : </strong>
                    {% if not is_bot %}
                    vous devez remplir tous les champs !
                    {% else %}
                    veuillez <strong>ne pas</strong> remplir le dernier champ ! (ceci sert à filtrer les robots)
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
        <form method="post">
            <fieldset class="form-group">
                <label for="name">Prénom et/ou nom</label>
                <input type="text" required="required" class="form-control" id="name" name="name" placeholder="Votre nom..." value="{% if submit and not success %}{{ name }}{% endif %}">
            </fieldset>
            <fieldset class="form-group">
                <label for="email">E-mail</label>
                <input type="email" required="required" class="form-control" id="email" name="email" placeholder="Votre adresse mail..." value="{% if submit and not success %}{{ email }}{% endif %}">
            </fieldset>

            <fieldset class="form-group">
                <label for="reason">Ne pas remplir ce champ</label>
                <textarea required="required" class="form-control" id="reason" name="reason" rows="20" placeholder="Raison...">{% if submit and not success %}{{ reason }}{% endif %}</textarea>
            </fieldset>

            <fieldset class="form-group">
                <label for="message">Message</label>
                <textarea required="required" class="form-control" id="message" name="message" rows="8" placeholder="Votre message...">{% if submit and not success %}{{ message }}{% endif %}</textarea>
            </fieldset>

            <button type="submit" class="btn btn-primary pull-right">Envoyer le message</button>
        </form>
    </div>

{% endblock%}