{% extends 'base.html.twig' %}

{% block page_title %}Page en construction{% endblock %}

{% block content %}

    <h2>En construction</h2>

    Cette page n'est pas encore accessible, patience !

{% endblock%}