{% extends 'base.html.twig' %}

{% block page_title %}Réalisations{% endblock %}

{% block content %}

    <h2>Réalisations</h2>

    <p>Comme je n'ai pas <em>encore</em> dédié de page à mes projets, je vous redirige vers mon <a href="https://github.com/FlorianCassayre">profil GitHub</a> qui contient l'essentiel de mes réalisations.</p>

{% endblock%}