{% extends 'base.html.twig' %}

{% block page_title %}Cryptographie{% endblock %}

{% block content %}

    <h2>Le mot « crypter » n'existe pas.</h2>

    <hr>

    <h3>Mais alors, que dit-on ?</h3>
    <p>
        Vous vouliez sûrement parler du procédé consistant à masquer un message ou un texte afin qu'il ne puisse pas être lu par des personnes autres que le destinataire attendu.
        Il aurait alors fallu utiliser le mot <strong>chiffrer</strong>.
    </p>
    <p>
        Quant à « crypter », bien qu'employé à tort par les médias et bien d'autres personnes il s'agit d'un barbarisme de langage qui n'a pas lieu d'être.
    </p>

    <h3>Explications</h3>
    <p>
        Pour faire simple, la <strong>cryptologie</strong> est un vaste domaine décrivant les disciplines de l'étude du secret.
        La <strong>cryptographie</strong> et la <strong>cryptanalyse</strong> sont deux de ces disciplines dont les buts respectifs sont de protéger des informations, et d'évaluer la sécurité d'un procédé de chiffrement.
    </p>
    <p>
        Le <strong>chiffrement</strong> permet - à partir d'une clé de chiffrement - de rendre des informations incompréhensibles à quiconque ne possédant pas cette clé.
        On pourrait voir ici la fermeture d'un coffre-fort grâce à une clé.
    </p>
    <p>
        Le <strong>déchiffrement</strong> correspond à l'opération inverse ; c'est-à-dire rendre l'information à nouveau compréhensible à partir d'une clé de déchiffrement.
        Réciproquement, c'est l'ouverture du coffre-fort grâce à la clé.
    </p>
    <p>
        Le <strong>décryptage</strong> consiste à retrouver l'information sans posséder la clé de déchiffrement.
        Un voleur (qui ne possède pas la clé du coffre) tente de casser la serrure.
    </p>
    <p><em>En revanche...</em></p>
    <p>
        « Crypter » n'a aucun sens logique puisqu'il laisserait entendre que l'information est chiffrée sans clé de chiffrement, au même titre que « cryptage ».
        Fermer un coffre sans utiliser de clé, c'est un concept qu'il faudra qu'on m'explique.
    </p>
    <p>
        Par ailleurs, le chiffrage est un tout autre procédé qui n'a absolument rien à voir avec le chiffrement.
    </p>

    <h3>Qu'en est-il de « encrypter », « désencrypter », « encryption » et « décryption » ?</h3>
    <p>
        Tous ces mots sont des anglicismes de « to encrypt », « to unencrypt », « encryption » et « decryption ». Et par conséquent, à oublier.
    </p>

    <h3>Le mot de la fin</h3>
    <p>
        Je n'ai rien à ajouter si vous promettez d'utiliser les mots corrects à l'avenir :-).
    </p>

    <hr>

    <h3>Références</h3>

    <ul>
        <li><a href="https://chiffrer.info/">chiffrer.info, la référence à partager au prochain qui se trompera</a></li>
        <li><a href="https://fr.wikipedia.org/wiki/Portail:Cryptologie">Portail Wikipédia de la cryptologie</a></li>
    </ul>

{% endblock%}